.ril-outer button.close {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=") no-repeat 50% !important;
  float: none !important;
}


/* Group Select typeahead styles */
.groupSelect .typeahead {
    margin: 0 10px 10px;
    position: relative;
}

.groupSelect .typeahead input {
    padding: 5px;
    background: #eef1f7;
    border: none;
    width: 100%;
    outline: none;
  font-weight: 300;
}


.groupSelect .typeahead .typeahead-selector {
    position: absolute;
    z-index: 1000;
    background: #eef1f7;
    list-style: none;
    text-align: left;
    padding-left: 0px;
    width: 100%;
    border-top: 1px solid #98a3a6;
  font-weight: 300;
}

.groupSelect .typeahead .typeahead-selector li {
    padding: 5px 10px;
}

.groupSelect .typeahead .typeahead-selector li.hover {
    background: #f8971d;
}

.groupSelect .typeahead .typeahead-selector li .typeahead-option {
    color: #333;
}

.groupSelect .glyphicon-remove
{
    font-size: 10px;
    margin-left: 5px;
    top: -1px;
}

.groupSelect .selected_group {
    background: #f8971d;
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
  font-weight: 300;
}

.groupSelect .selected_group:hover {
    background: #DF7E04;
}

.popover{
  max-width: 100% !important;
}

.popover_no_padding.popover{
  position: fixed !important;
  top: 56px !important;
}

.popover_no_padding .popover-content {
  padding: 9px 0 !important;
}

body {
  background-color: #e9ebee;
}

