body .nav .pm-doc-sprite.pm-doc-sprite-folder {
  background: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 25 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9 1h5.027c.24 0 .467.1.637.276l2.172 2.272c.17.177.398.276.637.276H18.1c.497 0 .9.42.9.94V16.03c0 .52-.403.97-.9.97H1.9c-.497 0-.9-.45-.9-.97V1.94c0-.518.403-.94.9-.94z' stroke-width='2' stroke='%237f7fff' fill='none' opacity='.6'/%3E%3C/svg%3E") no-repeat; }

body .nav .folder.open .pm-doc-sprite-folder {
  background: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 25 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd' opacity='.6'%3E%3Cpath d='M4.9 1h5.027c.24 0 .468.1.637.276l2.172 2.272c.17.177.398.276.637.276H21.1c.497 0 .9.42.9.94V16.03c0 .52-.403.97-.9.97H4.9c-.497 0-.9-.45-.9-.97V1.94c0-.518.403-.94.9-.94z'  fill='none'/%3E%3Cpath d='M4.9 1h5.027c.24 0 .468.1.637.276l2.172 2.272c.17.177.398.276.637.276H21.1c.497 0 .9.42.9.94V16.03c0 .52-.403.97-.9.97H4.9c-.497 0-.9-.45-.9-.97V1.94c0-.518.403-.94.9-.94z' stroke='%237f7fff' stroke-width='2'/%3E%3Cpath d='M3.22 16.358l-2.18-7.2C.863 8.58 1.3 8 1.91 8h21.18c.61 0 1.046.58.87 1.158l-2.18 7.2c-.115.38-.468.642-.87.642H4.09c-.402 0-.755-.26-.87-.642z' fill='%23F8F8F8'/%3E%3Cpath d='M3.22 16.358l-2.18-7.2C.863 8.58 1.3 8 1.91 8h21.18c.61 0 1.046.58.87 1.158l-2.18 7.2c-.115.38-.468.642-.87.642H4.09c-.402 0-.755-.26-.87-.642z' stroke='%237f7fff' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E") no-repeat; }

body .nav a.active,
body .nav a.active .name,
body .nav a.active .request-name {
  color: #7f7fff !important; }

body .nav .active-folder {
  color: #7f7fff !important; }

body .top-bar {
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body .top-bar .public {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.903 11.097c-2.537-2.538-2.537-6.656 0-9.194 2.538-2.537 6.656-2.537 9.194 0 2.537 2.538 2.537 6.656 0 9.194-2.538 2.537-6.656 2.537-9.194 0zm2.623.544l.098-.33.368-.422.426-.67.706-.606.324-1.11.18-.31.077-.45-.39-.157-.93-.155-.65-.572-.515-.324-.392-.424-.682-.145-.224-.035-.705.113-.28-.525.123-.167.112-.412-.045.032-.402-.08.18-.648.412-.314.213.024.19.493.023-.202.167-.323.65-.682 1.02-.414.278-.37.113.07.44.112-.07-.314-.2-.54.237-.356.536-.113-.01.26.213.144.046-.112.324-.247.346-.168-.01-.17L6.5 1c-1.41 0-2.82.536-3.896 1.612-.402.402-.73.852-.98 1.33l-.21.45-.08.45.144.246.248.213.19.46.335.38.18.02.304.34-.38.526-.076.638.19.47.873.67.18.765-.024.94-.284.405.26.193c.306.202.627.37.958.504l.1.036zm6.007-1.392l.24-.266c1.41-1.73 1.612-4.12.604-6.04l-.26-.44v.12l-.17.136-.223-.08-.268.147-.234-.213-.17-.214-.257-.033-.593.178-.324.08-.068.45-.38.636.078.905.515.83.75.19.795-.033.348.21.066.3.1.494-.28.794-.056 1.03-.246.717-.067.068.1.03zm.405-6.67l.156-.068.006-.038-.328-.444c-.12-.145-.244-.284-.378-.418-.672-.673-1.475-1.134-2.326-1.386l-.032-.006.203.37.31.122.18.213.065.078-.057.214-.18.19.337.18-.168.245-.29.212.177.36.458-.013.158-.38.313-.337.234.147.025.37.403.054.1-.13.336.256.293.212z' fill='%23D9D9D9' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #D9D9D9; }
  body .top-bar .btn {
    color: #d9d9d9 !important;
    background-color: rgba(255, 255, 255, 0.1) !important; }
  body .top-bar #menu-toggle {
    background: url('data:image/svg+xml;utf8,<svg width="28px" height="21px" viewBox="0 0 28 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Home-480px" sketch:type="MSArtboardGroup" transform="translate(-10.000000, -45.000000)" fill="%23D9D9D9"> <path d="M35.744,53.2575004 L11.98,53.2575004 C10.886,53.2575004 10,54.1435004 10,55.2375004 C10,56.3315004 10.886,57.2175004 11.98,57.2175004 L35.744,57.2175004 C36.838,57.2175004 37.722,56.3315004 37.722,55.2375004 C37.722,54.1435004 36.838,53.2575004 35.744,53.2575004 L35.744,53.2575004 Z M35.746,49.2975004 C36.84,49.2975004 37.724,48.4115004 37.724,47.3175004 C37.724,46.2235004 36.84,45.3375004 35.746,45.3375004 L11.982,45.3375004 C10.888,45.3375004 10.002,46.2235004 10.002,47.3175004 C10.002,48.4115004 10.888,49.2975004 11.982,49.2975004 L35.746,49.2975004 Z M35.744,61.1775004 L11.98,61.1775004 C10.886,61.1775004 10,62.0635004 10,63.1575004 C10,64.2515004 10.886,65.1375004 11.98,65.1375004 L35.744,65.1375004 C36.838,65.1375004 37.722,64.2515004 37.722,63.1575004 C37.722,62.0635004 36.838,61.1775004 35.744,61.1775004 L35.744,61.1775004 Z" id="ic-menu" sketch:type="MSShapeGroup"></path></g></g></svg>') center no-repeat; }

body .sidebar {
  background-color: rgba(51, 51, 51, 0.05); }

@media (min-width: 62em) {
  body #doc-body {
    background-image: -webkit-linear-gradient(-90deg, #303030 50%, #ffffff 50%);
    background-image: linear-gradient(-90deg, #303030 50%, #ffffff 50%); } }

body #doc-body .btn {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #d9d9d9 !important; }

body #doc-body .copy-request {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #d9d9d9 !important; }
  body #doc-body .copy-request.copied {
    background-color: #B8E986 !important;
    color: #468847 !important;
    cursor: default; }

body #doc-body .examples {
  background: #303030; }
  @media (min-width: 62em) {
    body #doc-body .examples {
      background: none; } }
  body #doc-body .examples .languages .btn {
    border: 1px solid rgba(48, 48, 48, 0.25) !important; }
  body #doc-body .examples .languages ul {
    background-color: #303030 !important; }
  body #doc-body .examples .languages .dropdown-menu-item {
    color: #d9d9d9 !important; }
  body #doc-body .examples .heading,
  body #doc-body .examples .language-heading,
  body #doc-body .examples .response-heading {
    color: #d9d9d9 !important;
    opacity: 0.8; }
  body #doc-body .examples .request,
  body #doc-body .examples .responses {
    border: 1px solid rgba(217, 217, 217, 0.25);
    background-color: rgba(0, 0, 0, 0.1); }
    body #doc-body .examples .request .expandable.dark-expandable:after,
    body #doc-body .examples .responses .expandable.dark-expandable:after {
      background: none; }
    body #doc-body .examples .request .expandable.dark-expandable:hover,
    body #doc-body .examples .responses .expandable.dark-expandable:hover {
      background: transparent; }
  body #doc-body .examples .responses-index {
    border: 1px solid rgba(217, 217, 217, 0.25);
    border-bottom: 0; }
  body #doc-body .examples .response-name span {
    color: #d9d9d9 !important; }

body .modal,
body .modal-body {
  background-color: #303030;
  color: #d9d9d9 !important; }
  body .modal pre,
  body .modal-body pre {
    background-color: rgba(0, 0, 0, 0.1) !important; }
    body .modal pre:not([class*="language-"]),
    body .modal-body pre:not([class*="language-"]) {
      color: #d9d9d9 !important; }
  body .modal .copy-request,
  body .modal-body .copy-request {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #d9d9d9 !important; }
    body .modal .copy-request.copied,
    body .modal-body .copy-request.copied {
      background-color: #B8E986 !important;
      color: #468847 !important;
      cursor: default; }

body :not(pre) > code[class*="language-"], body pre[class*="language-"] {
  background-color: rgba(51, 51, 51, 0.05); }

body code[class*="language-"],
body pre[class*="language-"] {
  text-shadow: none; }

body .info a {
  color: #7f7fff; }
  body .info a:hover, body .info a:active, body .info a:focus {
    color: #7f7fff;
    text-decoration: underline; }

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
